.titre1 {
    height: 30px;
    font-weight: 900;
    font-family: serif;
    

}


.adresse {
    font-size: 24px;
    font-weight: 700;
    font-family: serif;
    margin: 20px;
    padding: 40px;
    background-color: white;
    width: 50%;
 



}


.date {
    color: red; 
    font-family: serif;
    font-size: 24px;
    margin-top: 20px;
    padding: 40px;

    
}


.card {
    width: 100%;
    padding: 20px;
    border: solid 4px ;
    border-color: red;
    width: cover;
    margin-block-end:  20px;
    height: 400px;
    background-image:url(https://bit.ly/3CiRvcJ) ; 

        

}

.linkedin {
    color: #663737;
    display: flex; justify-content: center;


}

.global {
    width: 960px;
    margin: 0 auto ;
}